
@{
    Layout = null;
}

<h3>Mvc Kampı tablo örneği</h3>

<br />

<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama </td>
        <td>true</td>
    </tr>
    <tr>
        <td></td>
        <td>Spor</td>
        <td>Açıklama yok</td>
        <td>true</td>
    </tr>
</table>



